# Environment variables (contains secrets)
.env

# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
