beautifulsoup4
python-dotenv
fastapi
apscheduler
python-jose
lxml
pandas
passlib
pydantic
pymongo
requests
uvicorn
pydantic[email]
python-multipart
bcrypt
prophet
plotly
google-auth
google-auth-oauthlib
google-auth-httplib2
yfinance
pytz