beautifulsoup4
fastapi
python-jose
lxml
motor
pandas
passlib
pydantic
pymongo
requests
uvicorn
pydantic[email]
python-multipart
bcrypt
prophet
plotly
google-auth
google-auth-oauthlib
google-auth-httplib2